.dashboard-root {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: -25px;

    a {
        color: #4e79a7;
        text-decoration: none;
    }

    .canvas-wrapper {
        h4 {
            color: white;
            padding: 0px 5px;
            font-weight: bold;
        }
    }
    &.batman {
        background: #252830;
    }
    .chart-title {
        width: 95%;
        margin: 2px auto;
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
    }

    .dashboard-container {
        min-height: 1000px;
    }

    .description {
        color: white;
        line-height: 1.45;
        &.strong {
            font-weight: bold;
            margin-bottom: 0px;
            margin-top: 2.5px;
        }
    }
}

.footer {
    padding: 10px;
    background: #1a1c22;

    .footer-inner {
        display: inline-block;
        a {
            font-size: 1.25em;
            color: white !important;
        }
    }
}

.legend-wrapper {
    display: block;
    .legend-box {
        margin: 0px 0px 0px 5px;
        display: inline-block;
        .color-box {
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: top;
        }
    }
    .color-legend {
        color: white;
        margin-left: 5px;
        font-weight: bold;
        font-size: 1em;
    }
    .main-label {
        margin-right: 20px;
        margin-left: 5px;
        font-weight: bold;
        font-size: 1.35em;
    }

    .text-primary {
        color: #4ea786;
    }

 
}

.banner{
    color:#4e79a7;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 767px) {
    .legend-wrapper {
        margin-bottom: 0px !important;
    }
}
